@keyframes title-slide {
    from { left: calc(); }
    to { left: 100%; }
}

@keyframes sep-slide {
    from { left: -450px; }
    to { left: 100%; }
}

#title {
    position: relative;
    flex: 0 1 70px;
    background-color: var(--bg-color-1);
    text-align: left;
    overflow: visible;
    border-bottom: 3px solid var(--accent-color);
}

#title span{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    
    width: 470px; 
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    font-weight: 100;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    -webkit-background-clip: text;
    white-space: nowrap;
    background-clip: text;
    animation: sep-slide 5s 0s infinite forwards linear;
}

.seperator {
    position: absolute;
    width: 470px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #6d6d6d;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 2;
    animation: sep-slide 5s 0s infinite forwards linear;
}