@keyframes slide {
    from {
        left: 0;
    }
    to {
        left: 100%
    }
}


#title {
    height: 80px;
    background-color: #05386B
}

#title span{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    font-weight: 100;
    padding: 15px 0 0 0;
    color: white;
    height: 100%;
    animation: slide 5s;
}