@keyframes slide {
    from {
        margin-left: -414.84px;
    }
    to {
        margin-left: 100%;
    }
}
#title {
    flex: 0 1 80px;
    background-color: var(--bg-color-1);
    text-align: left;
    overflow: visible;
}

#title span{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    font-weight: 100;
    padding: 15px 0 0 0;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    -webkit-background-clip: text;
    white-space: nowrap;
    background-clip: text;
    height: 100%;
    animation: slide 4s 0s infinite forwards linear;
}

.seperator {
    position: absolute;
    width: 90%;
    height: 5px;
    border-radius: 2.5px;
    background-color: #6d6d6d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 77.25px;
    z-index: 2;
}