@media screen and (max-width: 1013px) {
    .arrow{
        display: none;
    }
}

#container{
    flex: 1 1 auto;
    width: 100%;
    text-align: left;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;

    display: flex;
    padding-top: 20px;
    /* background: linear-gradient(
        315deg
        , var(--bg-color-1)
        , var(--bg-color-1) 80%
        ,#ff8a00 80%
        ,#e52e71 90%
        , var(--bg-color-1) 90%
        , var(--bg-color-1)
    ); */

}

.arrow {
    height: 100%;
    flex: 0 0 auto;
    background-color: var(--bg-color-1);
    position: relative;
    z-index: 2;
}

.arrow .btn {
    background-color: var(--bg-color-2);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px;
    font-size: 2em;
    height: 80%;
}

.arrow.left-arrow .btn {
    left: 0
}

.arrow.right-arrow .btn {
    right: 0;
}

.slides-wrapper {
    flex: 1 1 auto;
    position: relative;
    
}

.wrapper{
    position: absolute;
    min-height: 100%;
    min-width: 0;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-border{
    position: relative;
    width: 220px;
    height: 220px;
    margin: 20px;
    background-color: var(--bg-color-1);
    box-shadow:
        inset 0 0 15px rgba(0,0,0,1),
        0 0 15px var(--accent-color);
    border-radius: 7px;
}
.card-border .card {
    position: absolute;
    top: 15px; bottom: 15px;
    right: 15px; left: 15px;
    border: 2px solid rgba(0,0,0,.3);

    background-color: var(--bg-color-1);
    border-radius: inherit;
    box-shadow:
        -5px 20px 30px rgba(0,0,0,.3);
    transition: 0.5s;
    margin: 0;
}
.card-border .card:hover {
    transform: translateY(-30px);
    box-shadow: 0 20px 30px rgba(0,0,0,.8);
}

.card-border .card-header {

    width: 100%;
    color: var(--text-color-1);
    border-bottom: inherit;
    border-bottom-color: rgba(0,0,0,.3) !important;
    border-radius: 7px 7px 0 0;
    white-space: nowrap;
}

.card-border .card-body {
    padding: 10px 15px;
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}

.card-border .card p {
    flex: 1 1 auto;
    line-height: 23px;
    border-radius: 15px;
    font-size: 16px;
    color: var(--text-color-1);
    text-align: left;
    margin: 0;
}
.card-border .btn{
    flex: 0 0 auto;
    width: 100%;
    transition: 0.5s;
}

.card-border .btn:hover{
    box-shadow: -5px 15px 25px rgba(0,0,0,.5);
}

.shrt{
    width: 20% !important; 
    margin: 0;
    display: inline;
}