:root {
    --bg-color-1: #353E49;
    --bg-color-2: #272f38;
    --accent-color: #555;
    --text-color-1: rgba(255,255,255,1.0);
    --text-highlight-1: #ff8a00;
    --text-highlight-2: #e52e71;
    --gradient: linear-gradient(90deg,#ff8a00,#e52e71);
}

*::-webkit-scrollbar {
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
    background: #6649b8;
}

html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

#nav-wrapper{
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    background-color: var(--bg-color-2);
    font-size: larger;
    /* box-shadow: 0 20px 30px rgba(0,0,0,.3); */
    /* margin-bottom: 20px; */
}

.navbar{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 3px solid var(--accent-color);
}


#underline{
    position: absolute;
    display: block;
    height: 30%;
    width: 21%;
    border: 4px solid var(--text-highlight-2);
    border-top: none;
    border-radius: 0 0 5px 5px;
    bottom: 10px;
}



#nav-wrapper .break {
    display: none;
}

@media screen and (max-width: 511px) {
    #underline {display: none;}
    #nav-wrapper .break {display:block;}
}
.nav-item{
    flex: 0 1 20%;
    align-self: stretch;
}

.navbar .btn{
    min-width: fit-content;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-1);
    box-shadow: -3px 8px 10px rgba(0,0,0,.5);
    color: var(--text-color-1);
    z-index: 3;
    white-space: normal;
    display: block;
}
.slide {
    font-size: 1.1em;
}



#about #title{
    width: 0;
    min-width: 100%;
    margin-bottom: 0.8rem;
    background-color: var(--bg-color-2);
    border-radius: 0.5rem;
}

#about h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 100;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px;
    margin: 0;
}


#about .nav>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.text-block {
    border-radius: 0.5rem;
    background-color: var(--bg-color-2);
}

p.text-block {
    padding: 30px;
}

#about p {
    font-size: 1.5rem;
    flex: 1 1 330px;
    width: 10px;
}

#about #links{
    flex: 1 1 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px var(--gradient) solid;
    padding: 10px;
}
.break{
    flex-basis: 100%;
    width: 0
}

#about img{
    width: 5em;
    margin: 20px;
    /* max-height: 15%; */
}

.proj-wrapper p.text-block {
    font-size: 1.25rem;
    padding: 30px;
    max-width: 100%;
    margin: auto;
    /* width: calc(54rem + 80px); */
}

@media only screen and (min-width: 76.875em){
    .proj-wrapper p.text-block {
        width: 59rem;
    }
}

@media only screen and (max-width: 76.875em) and (min-width: 51.25em) {
    .proj-wrapper p.text-block {
        width: 38.5rem;
    }
}


@media only screen and (max-width: 51.25em){
    .proj-wrapper p.text-block {
        margin: 0 20px;
    }

    .card-border {
        width: 100% !important;
    }
}


