:root {
    --bg-color-1: #1e1e24;
    --bg-color-2: #14151D;
    --accent-color: #6d6d6d;
    --text-color-1: rgba(255,255,255,.7);
    --text-highlight-1: #ff8a00;
    --text-highlight-2: #e52e71;
    --gradient: linear-gradient(90deg,#ff8a00,#e52e71);
}

*::-webkit-scrollbar {
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
    background: #6649b8;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}
#nav-wrapper{
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    background-color: var(--bg-color-1);
    font-size: 30px;
    box-shadow: 0 20px 30px rgba(0,0,0,.3);
}
.navbar{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    flex-wrap: nowrap;
}
#underline{
    position: absolute;
    display: block;
    height: 30%;
    width: 21%;
    border: 4px solid var(--accent-color);
    border-top: none;
    border-radius: 0 0 5px 5px;
    bottom: 10px;
}
.nav-item{
    flex: 0 1 20%;
    min-height: 100%;
    margin: 0 10px;
}

.navbar .btn{
    min-width: fit-content;
    margin: 0;
    width: 100%;
    background-color: var(--bg-color-2);
    box-shadow: -3px 8px 10px rgba(0,0,0,.5);
    color: var(--text-color-1);
    z-index: 3;
    white-space: normal;
}
.slide {
    font-size: 20px;
}
#about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
#about>* {
    font-size: 25px;
}
#about p {
    min-width: 330px;
    flex: 0 1 30%;
    margin-right: 20px; 
}
#about #links{
    flex: 0 0 460px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px var(--gradient) solid;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--accent-color);
    max-width: fit-content;
}
#about img{
    height: 150px;
    margin: 10px;
    filter: drop-shadow(10px 10px 10px #222);
    margin: 20px;
}
