:root {
    --bg-color-1: #1e1e24;
    --bg-color-2: #14151D;
    --accent-color: #6d6d6d;
    --text-color-1: rgba(255,255,255,.7);
    --text-highlight-1: #ff8a00;
    --text-highlight-2: #e52e71;
    --gradient: linear-gradient(90deg,#ff8a00,#e52e71);
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-flow: column;
}
#nav-wrapper{
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    background-color: var(--bg-color-1);
    font-size: 30px;
    box-shadow: 0 20px 30px rgba(0,0,0,.3);
}
.navbar{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}
#underline{
    position: absolute;
    display: block;
    height: 30%;
    width: 21%;
    border: 4px solid var(--accent-color);
    border-top: none;
    /* background-color: red; */
    border-radius: 0 0 5px 5px;
    bottom: 10px;
}
.nav-item{
    width: 20%;
}

.navbar .btn{
    margin: 0;
    width: 100%;
    background-color: var(--bg-color-2);
    box-shadow: -3px 8px 10px rgba(0,0,0,.5);
    color: var(--text-color-1);
    z-index: 3;
}
.slide {
    font-size: 20px;
}
#about {
    display: flex;
    justify-content: center;
}
#about>* {
    font-size: 25px;
    margin: 0 75px;
    max-height: 400px;
}
#about p {
    padding-top: 20px;
    flex: 0 1 25%;
}
#about #links{
    flex: 0 0 460px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px var(--gradient) solid;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--accent-color);
    max-width: fit-content;
}
#about img{
    height: 150px;
    margin: 10px;
    filter: drop-shadow(10px 10px 10px #222);
    margin: 20px;
}
