#board{
    margin-left: auto;
    margin-right: auto;
}

#board td{
    width: 60px;
    height: 60px;
    background-color: #efe5d9;
    padding: 0;
}
td{
    z-index: 100;
}
#board tr:nth-child(even) td:nth-child(odd){
    background-color: #70552f;
}
#board tr:nth-child(odd) td:nth-child(even){
    background-color: #70552f;
}
.yellow{
    background-color: yellow !important;
    opacity: 0.4;
}
.ph{
    width: inherit;
    height: inherit;
}
.hl{
    width: inherit;
    height: inherit;
    border-radius: 100%;
}