table {
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table{
    width:90%
}
#tit1{
    margin-top:0;
    padding-top:3px;
}
#reset-d{
    border:none;
}
#url-in{
    width:400px;
}
#imgcon {
    position: absolute;
    right:5%;
    top:0;
    width: 60%;
}
#input-p{
    margin: 0;
    margin-top:5px;
}
#file{
    margin-bottom:5px;
}
#image{
    width: 100%;
    height: auto;
}
#slides{
    position: absolute;
    width:30%;
    font-size: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: black;
    cursor: pointer;
}