html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    font-family: monospace;
}

#board td{
    width: 30px;
    height: 30px;
    text-align: center;
    background-size: 100%;
    font-size: 20px;
    line-height: 20px;
    background-color: #353E49;
    color: white;
}

#board td[state=unknown]{ background-image: url(../png/square.png); }
#board td[state=flag]{ background-image: url(../png/flag.png); }
#board td[state=known]{ background-image: none; }
#board td[state=mine]{ background-image: url(../png/bomb.png); }


#board{
    border-collapse: collapse;
    z-index: 0;
}
#death{
    display: none;
    position: absolute;
    width: fit-content;
    margin: 0 auto;
    top: 30%;
    left: 45%;
    font-family: monospace;
    font-size: 40px;
    z-index: 1;
}
#score{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#clock{
    text-align: left;
    display: inline-block;
}
#flags{
    text-align: end;
    display: inline-block;
}
#flags img{
    width: 22px;
    height: 22px;
    margin-bottom:-3px;
}
#difSel{
    width: 100%;
    margin-top: 15px;
    display: flex;

}
.dif {
    width: 100%;
}