#game{
    font-family: monospace;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
}
#board td{
    width: 25px;
    height: 25px;
    border: 1px solid silver;
    text-align: center;
    background-size: 100%;
    font-size: 20px;
    font-family: monospace;
}
#board{
    border-collapse: collapse;
    z-index: 0;
}
#death{
    display: none;
    position: absolute;
    width: fit-content;
    margin: 0 auto;
    top: 30%;
    left: 45%;
    font-family: monospace;
    font-size: 40px;
    z-index: 1;
}
#score{
    font-size: 25px;
    width: 476.2;
    display: flex;
    justify-content: space-between;
}
#clock{
    text-align: left;
    display: inline-block;
}
#flags{
    text-align: end;
    display: inline-block;
}
#flags img{
    width: 22px;
    height: 22px;
    margin-bottom:-3px;
}
#difSel{
    width: 100%;
    display: flex;
}
.dif{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: silver;
    width: 33%;
    margin: 0;
    display: inline-block;
}