video{
    float: right;
    width: 70%;
    margin: 8px;
    border: 2px black solid;
}
button, table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
table{
    overflow: scroll;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
#ui{
    margin: 10px;
    width: 25%;
}
